<div class="folder-buttons">
  <div class="one-folder-button">
    <button appSelectedFolder #folderButton (click)="onSelected(folder, $event)" class="folder" id="{{folder.id}}">
      <div *ngIf="subfolderCheck(folder); else noChevrone">
      <div appSelectedSvgRotate (click)="subFoldersOpen = !subFoldersOpen;" *ngIf="subfolderCheck(folder); else noChevrone">
          <svg class="icon icon-chevron">
            <use xlink:href="/assets/sprites/sprite.svg#icon-chevron"></use>
          </svg>
      </div>
      </div>
      <ng-template #noChevrone>
        <div style="width: 15px; height: 15px;"></div>
      </ng-template>
      <svg class="icon icon-folder">
        <use id="icon-folder" xlink:href="/assets/sprites/sprite.svg#icon-folder"></use>
      </svg>
      {{folder.name}} ({{imageCounter(folder)}})
    </button>
    <div class="subfolders" *ngIf="subFoldersOpen">
          <app-folder-item *ngFor="let folder of items" [folder]="folder" [level]="level">
          </app-folder-item>
    </div>
  </div>
</div>
