<!--<button  > A</button>-->
<div class="folder-buttons">
  <div class="one-folder-button">
    <button appSelectedSvgRotate appSelectedFolder (click)="onSelected(folder, $event)" class="folder">
      <div *ngIf="itemsCheck(folder); else noChevrone">
      <div *ngIf="subfolderCheck(folder.items); else noChevrone">
          <svg class="icon icon-chevron">
            <use xlink:href="/assets/sprites/sprite.svg#icon-chevron"></use>
          </svg>
      </div>
      </div>
      <ng-template #noChevrone>
        <div style="width: 15px; height: 15px;"></div>
      </ng-template>
      <svg class="icon icon-folder">
        <use xlink:href="/assets/sprites/sprite.svg#icon-folder"></use>
      </svg>
      {{folder.name}} ({{imageCounter(folder)}})
    </button>
    <div class="subfolders" *ngIf="subfoldersOpen">
          <app-folder-item *ngFor="let folder of items" [folder]="folder">
          </app-folder-item>
    </div>
  </div>
</div>
