.image-block {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-direction: column;
}

.image {
  height: 145px;
  width: 145px;
  border-radius: 8px;
  border: 2px transparent solid;
}

.image:hover {
  filter: brightness(80%);
  border: 2px salmon solid;
}

.image-button{
  all:inherit;
  width: fit-content;
  border: none;
}
