<div class="image-block">
  <button id="{{image.id}}" (click)="imageWasSelect(image, $event)" [ngClass]="{'select': imageSelect}" #imageButton  class="image-button">
    <img class="image" alt="{{image.name}}" *ngIf="(image | previewUrl | getImage | async) as imageUrl; else load" [src]="imageUrl" (load)="hideLoader()">
  </button>
  {{image.name}}
  <ng-template #load>
    <div class="image">
      <img alt="placeholder" style="width: 40px; height: 40px" src="assets/media/preloader.gif">
    </div>
  </ng-template>
</div>
