<div class="white-box">
  <div class="top-block">
    <p style="margin: 0">
      Choose image
    </p>
    <p>
      <svg class="icon icon-home">
        <use xlink:href="/assets/sprites/sprite.svg#icon-cross"></use>
      </svg>
    </p>
  </div>

  <div class="center-left-block">
    <app-folders></app-folders>
  </div>

  <div class="center-right-block">
    <app-images></app-images>
  </div>

  <div class="bottom-block">
    <button [disabled]="!imageSelect" [ngClass]="{able: imageSelect}" class="insert-button">
      Insert
    </button>
  </div>
</div>
