<div class="white-box">
  <div class="top-block">
    <p style="margin: 0">
      Choose image
    </p>
    <p>
      <svg class="icon icon-home">
        <use xlink:href="/assets/sprites/sprite.svg#icon-cross"></use>
      </svg>
    </p>
  </div>

  <div class="center-left-block">
    <app-folders></app-folders>
  </div>

  <div class="center-right-block">
    <div class="breadcrumbs">
      <p class="crumb" *ngFor="let crumb of breadcrumbsArr;let i = index" (click)="onSelectCrumb(crumb, $event, i)">{{crumb.name}}
<!--        <svg class="icon icon-home">-->
<!--          <use xlink:href="/assets/sprites/sprite.svg#icon-crumbShooter"></use>-->
<!--        </svg>-->
      </p>
    </div>
    <app-images></app-images>
  </div>

  <div class="bottom-block">
    <button [disabled]="!imageSelect" [ngClass]="{able: imageSelect}" (click)="onInsert()" class="insert-button">
      Insert
    </button>
  </div>
</div>
